*{
   margin: 15px;
   margin-right: 20px;
   margin-left: 10px;
  
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family:'Dosis', sans-serif;

}
.menu{
    width: 100%;
    height: 86vh;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff; 
   } 
@media only screen and (max-width:400px) {
   .menu{
      display: block;
     
   }
}    
   

.navbar{
    width: 91%;
    height: 25px;
    margin-left: 70px;
    
}
@media only screen and (max-width:400px) {
   .menu{
      flex-direction: column;
   }
} 
.topbar{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    left: 5px;
    border: 1px none white;
    height: 90px;
    background-color: white;
    /* margin-right: 100px; */
}
@media only screen and (max-width:400px) {
   .navbar{
      
      flex-direction: column;
  
   }
}
.nuuk_img{
    width: 80px;
    height: 18px;
    margin-top: 20px;
    padding:45px 40px;
    position: relative;
    bottom: 35px;
    right: 25px;
    background-color: #e47312;
}
.nav_items{
    font-size: 13px;
    text-align:right;
    display: inline-block;
    margin-left: -20px;
    position: relative;
    bottom: 10px;
    left:480px;
    color: black;
    font-weight:bolder;
    letter-spacing: 1px;
}
@media only screen and (max-width:400px) {
   .nav_items{
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      align-items: center;
   }
}
.nav_items1{
    font-size: 13px;
    text-align:right;
    display: inline-block;
    margin-left: -40px;
    position: relative;
    bottom: 10px;
    left:480px;
    color: black;
    font-weight:bolder;
    letter-spacing: 1px;
}
@media only screen and (max-width:400px) {
   .nav_items1{
      flex-direction: column;
      justify-content: left;
      align-items: left;
   }
}
.nav_items:hover{
    color: #e47312;
}
.nav_items1{
    color: #e47312;
}
.freequote{
    background-color: #e47312;
    padding:38px 35px;
    color: white;
    font-size: 12px;
    position: relative;
    right: -394px;
    top: 17px;
}
.free_quote:hover{
    color: #d3935a;
}
.fa-caret-down{
    margin-left: -1px;
}
.menu_content{
    margin-left: 42px;
    margin-top: 110px;
    
     
 }
 .menu_heading{
    font-size: 62px;
    color: white;
    letter-spacing: 2px; 
 }
 .menu_para{
    font-size: 20px;
    color:white ;
    margin-top: 22px;
    margin-bottom: 30px;
    opacity: 0.8;
    
 }
 .menu_button{
    font-size: 12px;
    padding: 20px 40px;
    color: white;
    background-color:#e47312 ;
    border: none;
 }
 .social_icons{
    display: flex;
    flex-direction: column;
    text-align: right; 
    z-index: 1; 
 }
 @media only screen and (max-width:400px) {
   .social_icons{
      flex-direction: column;
      justify-content: center;
      
      align-items: center;
   }
}
 .social_network{
    width: 15px;
    background-color: black;
    margin: -17px;
    padding: 20px;
    border-bottom: 1px solid white;
    position: relative;
    left: 85px;
    bottom: 198px;
    
 }
 .contact_details{
    width: 960px;
    height: 35vh;
    border: 1px solid#e47312;
    background-color: #e47312;
    background:linear-gradient(186deg, #e47312, #ff6361);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    left: 418px;
    bottom: 216px;
    z-index: -0.5;
 }
 @media only screen and (max-width:400px) {
   .contact_details{
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      align-items: center;
   }
}
 .phone_image{
     width: 25px;
     height: 25px;
     margin-left:100px;
 }
 .clock_image1{
    width: 25px;
    height: 25px;
    margin-left:170px;
}
 .contact_number{
     text-align: center;
     color: white;
     margin-left: 60px;
 }
 .contact_number1{
    text-align: center;
    color: white;
    opacity: 0.8;
    margin-left: 60px;
}
 .location{
     margin-top: 10px;
     margin-left: 160px;
     color: white;
    
 }
 .location:hover{
    text-decoration:underline;
    text-decoration-color: white;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
 }
 .services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 @media only screen and (max-width:400px) {
   .services{
   display: block;
   width: 100%;
    height: auto;
   }
}
 .services_h1{
    font-size: 120px;
    font-weight: 600;
    opacity: 0.04;
    letter-spacing: 11px;
    margin-top: 0;
    position: relative;
    bottom: 180px;
    right: 40px;
 }
 .services_h3{
    font-size: 42px;
    letter-spacing: 1px;
    position: relative;
    bottom: 268px;
    left: 16px;
 }
 .view_services{
    font-size: 15px;
    position: relative;
    bottom: 100px;
    opacity: 0.5;
    text-transform: uppercase;
 }
 .view_services:hover{
    text-decoration:underline;
    text-decoration-color: #e47312;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
 }
 .services_details{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -53px;
    margin-bottom: -50px;
    margin-left: 80px;
    position: relative;
    bottom: 200px;
    padding: 10px;
 }
 @media only screen and (max-width:400px) {
   .services_details{
   display: block;
   width: 100%;
    height: auto;
   }
}
 .details{
    width: 100%;
    margin: 0px;
 }
 .details_para{
    opacity: 0.5;
 }
 .more_details{
    color: #919198;
    opacity: 0.8;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
 }
 .more_details:hover{
    text-decoration:underline;
    text-decoration-color: #e47312;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
 }
 .about{
    width: 100%;
    display:flex;
    flex-direction: row;
    margin-right: 5PX;
    padding: 5PX;
    position: relative;
    bottom: 40px;
 }
 @media only screen and (max-width:400px) {
   .about{
   display: block;
   width: 100%;
    height: auto;
   }
}
 .about_image{
    width: 600px;
    margin: 10px;
 }
 .about_details{
    width: 500px;
 }
 .about_h1{
   font-size: 120px;
   font-weight: 600;
    opacity: 0.04;
    letter-spacing: 11px;
    margin-top: 0;
    position: relative;
    bottom: 50px;
   left: 25px;
   
 }
 .about_h3{
   font-size: 42px;
   letter-spacing: 1px;
   position: relative;
   bottom: 140px;
   left: 80px;
 }
 .about_para{
   opacity: 0.4;
   position: relative;
   bottom: 120px;
   left: 80px;
   line-height: 22px;
 }
 .about_more{
   color: #919198;
   opacity: 1;
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 1px;
   position: relative;
   bottom: 80px;
   left: 80px;
 }
 .about_more:hover{
   text-decoration:underline;
   text-decoration-color: #e47312;
   text-underline-offset: 8px;
   text-decoration-thickness: 3px;
   cursor: pointer;
}
.random_text{
   width: 18%;
   display: inline-block;
   margin: 35px;
   position: relative;
   justify-content: space-between;
   bottom: 40px;
}
@media only screen and (max-width:400px) {
   .random{
   display: block;
   width: 100%;
    height: auto;
   }
}
.random_number{
   font-size: 60px;
   color: #e47312;
}
.random_para{
   line-height: 20px;
   opacity:0.5 ;
}
.project_h1_h3{
   position: relative;
   top: -30px;
}
.projects_header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
@media only screen and (max-width:400px) {
   .projects_header{
   display: block;
   width: 100%;
   height: auto;
   }
}
.projects_h1{
   font-size: 120px;
   font-weight: 600;
   opacity: 0.02;
   letter-spacing: 11px;
   position: relative;
   top: 40px;
   left: 50px;
  
}
.projects_h3{
   font-size: 42px;
   letter-spacing: 1px;
   position: relative;
   bottom: 50px;
   left: 105px;
}
.project_services{
   font-size: 15px;
    position: relative;
    top: 80px;
    right: 60px;
    bottom: 130px;
    opacity: 0.5;
}
.project_services:hover{
   text-decoration:underline;
   text-decoration-color: #e47312;
   text-underline-offset: 8px;
   text-decoration-thickness: 3px;
}
.project{
   width: 1460px;
   height: 460vh;
   margin-left: -70px;
   margin-right: --70px;
   background-color: #f7f8fc;
   z-index: -1;
}
.project_image{
   width:100%;
   height: fit-content;
   margin-bottom:-140px;
   grid-column-gap: -100px;
}  
   
 .grid-container {
    width: 100%;
   display: grid;
   grid-template-columns: auto auto auto;
   margin-left: -15px;
   margin-top: -70px;
   
 }
 @media only screen and (max-width:400px) {
   .grid-container{
    grid-template-columns: auto;
   }
}
 .project_container:hover .view_project{
    visibility: visible;
 }
 .view_project{
    width: 80px;
    height: 80px;
    color: white;
    position: relative;
    bottom: 125px;
    left: 198px;
    align-items: center;
    text-align: center;
    border: 1px solid #e47312;
    border-radius: 50%;
    background-color: #e47312;
    visibility: hidden;
 }
 .project_image_p{
    position: relative;
    bottom: 20px;
    left: 3px;
    color: white;
 }
 .something{
    width: 1440px;
    height: 320px;
    background-color: #e47312;
    margin-top: 25px;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78));
}
.something_h1{
   color: white;
   font-size: 40px;
   font-weight: 600;
   letter-spacing: 2px;
   margin-top: 20px;
   position: relative;
   top: 80px;
   text-align: center;
  
}
.something_p{
   color: white;
   font-size: 20px;
   font-weight: 100px;
   margin-top: 20px;
   position: relative;
   top: 80px;
   text-align: center;
   opacity: 0.5;
}
.something_getfreequote{
   color: rgb(255, 255, 255);
   font-size: 14px;
   text-align: center;
   position: relative;
   top: 80px;
   text-transform: uppercase;
}
.something_getfreequote:hover{
   text-decoration:underline;
   text-decoration-color: white;
   text-underline-offset: 8px;
   text-decoration-thickness: 3px;
}
.team_header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
@media only screen and (max-width:768px) {
   .team_header{
     display: block;
     width: 100%;
    height: auto;
   }
}

.team_h1{
   font-size: 120px;
   font-weight: 600;
   opacity: 0.02;
   letter-spacing: 11px;
   position: relative;
   top: 40px;
   left: 10px;
  
}
.team_h3{
   font-size: 42px;
   letter-spacing: 1px;
   position: relative;
   bottom: 50px;
   left: 68px;
}
.team_services{
   font-size: 15px;
    position: relative;
    top: 120px;
    right: 60px;
    
    opacity: 0.5;
}
.team_services:hover{
   text-decoration:underline;
   text-decoration-color: #e47312;
   text-underline-offset: 8px;
   text-decoration-thickness: 3px;
}
.teams{
   width: 100%;
   
}
.team_image{
   width: 250px;
   height: 300px;
   margin: 0px;
}
.team_con{
   margin-left: 150px;
   display: flex;
   flex-direction: row;
}
@media only screen and (max-width:400px) {
   .team_con{
    display: block;
    width: 100%;
    height: auto;
   }
}
.team_container{
   width: 250px;
   height: 431px;
   border: 1px solid white;
   z-index: 200;
   box-shadow:5px 5px 10px lightgrey ;
}
.team_icons{
   display: flex;
   flex-direction: column;
   text-align: right; 
   z-index: 1; 
}
@media only screen and (max-width:400px) {
   .team-icon{
    display: block;
    width: 100%;
    height: auto;
   }
}
.team_network{
   width: 15px;
   background-color:#e47312;
   margin: -17px;
   padding: 20px;
   border-bottom: 1px solid white;
   position: relative;
   left: 24px;
   bottom: 132px;
   
}
.client_data{
   margin-top: 100px;
}
.clients_portal{
   width: 50%;
   position: relative;
   top: 150px;
}
.client_h1{
   font-size: 130px;
   font-weight: 600;
   opacity: 0.02;
   letter-spacing: 11px;
   position: relative;
   top: 40px;
   left: 10px;
  
}
.client_h3{
   font-size: 42px;
   letter-spacing: 1px;
   position: relative;
   bottom: 50px;
   left: 68px;
}
.client_p{
   opacity: 0.5;
   position: relative;
   left: 100px;
}
.client_services{
   font-size: 15px;
    position: relative;
    top: 5px;
    left: 100px;
    right: 60px;
    opacity: 0.5;
}
.client_services:hover{
   text-decoration:underline;
   text-decoration-color: #e47312;
   text-underline-offset: 8px;
   text-decoration-thickness: 3px;
}
.client_datails1{
   width: 280px;
   height: 300px;
   margin-top: 50px;
   border: 1px solid white;
   background-color: white;
   text-align: center;
   z-index: 50;
   box-shadow:5px 5px 10px lightgrey ;
}
.client_datails2{
   width: 280px;
   height: 300px;
   margin-top: 50px;
   border: 1px solid white;
   background-color: white;
   text-align: center;
   z-index: 50;
   box-shadow:5px 5px 10px lightgrey ; 
}
.client_datails3{
   width: 280px;
   height: 300px;
   margin-top: 50px;
   border: 1px solid white;
   background-color: white;
   text-align: center;
   position: relative;
   top: 120px;
   z-index: 50;
   box-shadow:5px 5px 10px lightgrey ;
}
.client_datails4{
   width: 280px;
   height: 300px;
   margin-top: 50px;
   border: 1px solid white;
   background-color: white;
   text-align: center;
   position: relative;
   top: 120px;
   z-index: 50;
   box-shadow:5px 5px 10px lightgrey ;
}
.client_data{
   display: flex;
}
@media only screen and (max-width:400px) {
   .client_data{
    display: block;
    width: 100%;
    height: auto;
   }
}
.clients{
   display: flex;
   margin-right: 80px;
}
@media only screen and (max-width:400px) {
   .clients{
    display: block;
    width: 100%;
    height: auto;
   }
}
.client_details_h4{
   margin-top: -35px;
}
.client_details_p1{
   opacity: 0.5;
}
.client_details_p2{
   opacity: 0.8;
}
.client_div{
   width: 55px;
   height: 55px;
   background-color: #e47312;
   border-radius: 50%;
   position: relative;
   bottom: 43px;
   left: 100px;
}
.client_div_p{
   color: white;
   font-size: 80px;
   position: relative;
   bottom: 2px;
   left: 4px;
}
.blog_header{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position: relative;
   bottom: 20px;
}
/* @media only screen and (max-width:400px) {
   .box_header{
    display: block;
    width: 100%;
    height: auto;
   }
} */
.blog_h1{
   font-size: 120px;
   font-weight: 600;
   opacity: 0.02;
   letter-spacing: 11px;
   position: relative;
   top: 40px;
   left: 10px;
}
.blog_h3{
   font-size: 42px;
   letter-spacing: 1px;
   position: relative;
   bottom: 50px;
   left: 68px;
}
.blog_aboutus{
   font-size: 15px;
    position: relative;
    top: 120px;
    right: 60px; 
    opacity: 0.5;
}
.blog_aboutus:hover{
   text-decoration:underline;
   text-decoration-color: #e47312;
   text-underline-offset: 8px;
   text-decoration-thickness: 3px;
}
.blog{
   width: 30%;
   display: flex;
   flex-direction: row;
   margin-top: -40px;
}
@media only screen and (max-width:400px) {
   .blog{
      flex-direction: column;
   }
}
.blog_image{
   width:380px;
   height: 220px;
   margin: -2px;
   position: relative;
   right: 8px;
}
.blog_container{
   width: 380px;
   height: 430px;
   background-color:#e47312;
   cursor: pointer;
   background: linear-gradient(158deg, #e47312, #ff6361);
}
.blog_post{
   margin-left: 30px;
   margin-bottom: 15px;
   font-size: 19px;
   font-weight: 600;
   letter-spacing: 1px;
   line-height: 26px;
   color: white;
}
.blog_para{
   margin-left: 30px;
   font-weight: 400;
   text-align:left;
   color: white;
   opacity: 0.7;
}
.blog_readmore{
   color: white;
   font-size: 15px;
    position: relative;
    bottom: 20px;
    left: 20px;
    right: 60px;
   text-decoration:underline;
   text-decoration-color: lightgray;
   text-underline-offset: 8px;
   text-decoration-thickness: 3px;
}
.blog_readmore:hover{
   text-decoration:underline;
   text-decoration-color:white;
   text-underline-offset: 8px;
   text-decoration-thickness: 3px;
}
.blog_date_month{
   border: 1px none lightgray;
   margin: 0px;
   width: 70px;
   height: 109px;
   position: relative;
   bottom: 446px;
   left: 310px;

}
.blog_date{
   width: 70px;
   height: 70px;
   background-color: #e47312;
   letter-spacing: 1px;
   font-size: 20px;
   text-align: center;
   font-weight: 100;
   position: relative;
   right: 10px;
   bottom: 15px;
}
.blog_date_h1{
   color: white;
   position: relative;
   top: 8px;
   left: 4px;
}
.blog_mon{
   width: 70px;
   height: 40px;
   background-color: white;
   letter-spacing: 1px;
   font-size: 20px;
   text-align: center;
   font-weight: 100;
   position: relative;
   right: 10px;
   bottom: 30px;
}
.blog_mon_p{
   color: black;
   position: relative;
   top: 8px;
   left: 4px;
}
.logos{
   width: 110%;
   height: 200px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   background-color: #e47312;
   background: linear-gradient(56deg, #e47312, #ff6361);
   margin-left: -70px;
   position: relative;
   top: 50px;
}
@media only screen and (max-width:400px) {
   .logos{
    display: block;
   }
}
.all_logos_p{
   position: relative;
   top: 75px;
   color: white;
}
.all_logos{
   position: relative;
   top: 70px;
   font-size: 24px;
   color: white;
   cursor: pointer;
}
.footer{
   width: 105%;
   height: 90vh;
   margin-left: -25px;
   background-color: #0a1229;
   display: flex;
   flex-direction: row;
}
.footer_container{
   width: 33%;
   margin-left: 20px;
}
.footer_heading{
   display: flex;
}
@media only screen and (max-width:400px) {
   .footer_heading{
    display: block;
   }
}
.footer_heading_p{
   color: #e47312;
   position: relative;
   top: 82px;
   letter-spacing: -4px;
}
.footer_about_h3{
   font-size: 15px;
   letter-spacing: 1px;
   color: white;
   margin-left: 50px;
   margin-top: 100px;
}
.footer_about_p{
   color: white;
   margin-left: 50px;
   line-height: 30px;
}
.footer_location{
   font-size: 14px;
   margin-top: 10px;
   margin-left: 50px;
   color: white;
  
}
.footer_location:hover{
  text-decoration:underline;
  text-decoration-color: white;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
}
.footer_services_h3{
   font-size: 15px;
   letter-spacing: 2px;
   color: white;
   margin-left: 40px;
   margin-top: 100px;
}
.footer_services_list{
   font-size: 14px;
   letter-spacing: 1px;
   margin-left: 40px;
   margin-top: -15px;
   color: white;
}
.footer_services_list:hover{
  text-decoration:underline;
  text-decoration-color: white;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
}
.footer_contactus_h3{
   font-size: 15px;
   letter-spacing: 1px;
   color: white;
   margin-left: -80px;
   margin-top: 100px;
}
.footer__phone_contact{
   display: flex;
   margin-left: -100px;
}
@media only screen and (max-width:400px) {
   .footer__phone_contact{
    display: block;
   }
}
.footer_phone_icon{
   width: 20px;
}
.footer_contact_head{
   color: white;
   font-size: 12px;
   letter-spacing: 1px;
   position: relative;
   top: 3px;
}
.footer_contact_number{
   color: white;
   position: relative;
   top: -15px;
   right: 50px;
}
.footer_timing_contact{
   display: flex;
   margin-left: -100px;
   position: relative;
   top: -15px;
}
@media only screen and (max-width:400px) {
   .footer__timing_contact{
    display: block;
   }
}
.footer_timing_icon{
   width: 20px;
   position: relative;
   top: -3px;
}
.footer_timing_head{
   color: white;
   font-size: 12px;
   letter-spacing: 1px;
   position: relative;
   
}
.footer_timing_details{
   color: white;
   position: relative;
   top: -35px;
   right: 50px;
}
.footer_mail_contact{
   display: flex;
   margin-left: -100px;
   position: relative;
   top: -25px;
}
@media only screen and (max-width:400px) {
   .footer__mail_contact{
    display: block;
    
   }
}
.footer_mail_icon{
   width: 20px;
   position: relative;
   top: -3px;
}
.footer_mail_head{
   color: white;
   font-size: 12px;
   letter-spacing: 1px;
   position: relative;
   
}
.footer_mail_details{
   color: white;
   position: relative;
   top: -45px;
   right: 50px;
}
.nuuk_img_footer{
   width: 80px;
   height: 18px;
   margin-top: 20px;
   padding:45px 40px;
   position: relative;
   top: 34px;
   right: 950px;
   background-color: #e47312;
}



